---
import { graphql } from '~/lib/datocms/graphql';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { TagFragment } from '~/lib/datocms/commonFragments';

import Layout from '../layouts/Layout.astro';

import { isDraftModeEnabled } from '~/lib/draftMode';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';

import { Hero } from '~/components/blocks/Hero';
import { HeroFragment } from '~/components/blocks/Hero/fragments';

/**
 * The GraphQL query that will be executed for this route to generate the page
 * content and metadata.
 *
 * Thanks to gql.tada, the result will be fully typed!
 */
const query = graphql(
  `
    query HomePageQuery($locale: SiteLocale = en) {
      home(locale: $locale) {
        title
        subtitle
        seo {
          description
          title
        }
        sections {
          ... on HeroSectionRecord {
            ...HeroFragment
          }
        }
        _publishedAt
        _updatedAt
        _seoMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment, HeroFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const { home } = await executeQuery(query, { includeDrafts: draftModeEnabled });

if (!home) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  });
}
---

<Layout additionalSeo={home._seoMetaTags}>
  <h1 class="text-4xl font-bold text-blue-600 mb-4">{home.title}</h1>

  <DraftModeQueryListener query={query} />
</Layout>
