---
import '~/assets/styles/tailwind.css';
import CustomStyles from '~/components/CustomStyles.astro';

import { TagFragment } from '~/lib/datocms/commonFragments';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { graphql } from '~/lib/datocms/graphql';
import { DraftModeToggler } from '~/components/DraftModeToggler';
import { Seo, type TitleMetaLinkTag } from '@datocms/astro';
import { isDraftModeEnabled } from '~/lib/draftMode';
import Announcement from '~/components/Announcement.astro';
import { Header } from '~/components/Header';
import { Footer } from '~/components/Footer';

type Props = {
  additionalSeo?: TitleMetaLinkTag[];
};

const { additionalSeo = [] } = Astro.props;

const query = graphql(
  /* GraphQL */ `
    query RootQuery {
      _site {
        faviconMetaTags {
          ...TagFragment
        }
      }
    }
  `,
  [TagFragment],
);

const draftModeEnabled = isDraftModeEnabled(Astro.cookies);
const result = await executeQuery(query, { includeDrafts: draftModeEnabled });
---

<!doctype html>
<html lang="en" class="2xl:text-[20px]">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <Seo data={[...result._site.faviconMetaTags, ...additionalSeo]} />
    <CustomStyles />
  </head>
  <body class="antialiased text-default bg-page tracking-tight">
    <slot name="announcement">
      <Announcement />
    </slot>
    <slot name="header">
      <Header isSticky showRssFeed showToggleTheme />
    </slot>

    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
